[Desktop Entry]
Version=@VERSION@
Type=Application
Name=OpenSpeedRun Config
Comment=Configuration tool for OpenSpeedRun.
Exec=openspeedrun-cfg
Icon=OpenSpeedRun-CFG
Terminal=false
Categories=Settings;Utility;
Keywords=speedrun;config;settings;
StartupNotify=true
URL=https://github.com/SrWither/OpenSpeedRun
